body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color:#EEE0CB;
}

.title {
    margin-top: 5%;
    font-size: 36px;
}

.tool {
    display:flex;
    gap: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #BFD7EA;
    border-radius: 20px;
    font-size: 24px;
    align-items: center;
}

.favcolor {
    margin-bottom: -25px;
}

.eraserLabel {
    text-align: center;
    margin-bottom: -40px;
}

.clear {
    border-radius: 15px;
    background-color: white;
    font-size: 24px;
    border-color: black;
    color: rgb(56, 56, 56);
    border-style: solid;
    border-color: rgb(56, 56, 56);
    outline: none;
}
.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

input.eraserbtn{
    height: 24px;
    width: 24px;
}

input.sizeslider {
    width: 160px;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    flex: 1;
}