body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.title {
    margin-top: 5%;
    font-size: 36px;
}

.tool {
    display:flex;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(115, 146, 231);
}

.eraserLabel {
    text-align: center;
    margin-bottom: -40px;
}
.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.row {
    display: flex;
    flex: 1;
}
.pixel {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    flex: 1;
}